<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>RESTfulWS2.0</display-name>
  
  <!--   The following works with servlet container 3.0 -->
  <servlet>
  <display-name>JerseyRestConfig</display-name>
  <servlet-name>com.johnson.application.JerseyRestConfig</servlet-name>
    <init-param>
	   <param-name>javax.ws.rs.Application</param-name>
	   <param-value>JerseyRestConfig</param-value>
    </init-param>
  </servlet>

  
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
</web-app>